/* start shipping nav  */

.shipping-wrapper p {
    font-size: 14px;
}

.shipping-wrapper .text-center i {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 5px;
}


/* end shipping nav  */